.icons {
    color: $subtext-color;
    margin-bottom: .2rem;
    
}
.aside{
    display: flex;
    
    position: relative;
    top: 5rem;
    .plus-grid-side{
        // border: 2px solid rgb(225, 213, 46);
        position: relative;
        top: 5rem;
        width: 100%;
        margin-inline-start: 23rem ;
        // padding-inline-start: 25rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        
    }
.Scroll{
    position: fixed;
    overflow: hidden;
    height: 95vh;
        .tooltip{
            border: 1px solid white;
        }
        &:hover{
            overflow:auto;
            }
        .sideBar-main{
            &:first-child{
            .side-section{
                    border-top: none;
                }
            }
        }
        }
    }
            

            
        

::-webkit-scrollbar{
   background: $bg-color;
    width:  8px;
}
::-webkit-scrollbar-track {
    
    // margin-bottom: 2rem;   
    // margin: 1rem;
    background: $bg-color;
    -webkit-box-shadow: inset 0 0 200px $bg-color;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(82, 82, 82);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0); 
}



.sideBar-main {  
    position:relative;
    width: 20rem;

    background-color: $bg-nav-color;
    padding-block: .6rem;

    padding-right: 0.7rem;


    
    .side-section{
    
        border-top: 1px solid rgba(90, 90, 90, 0.535);
        padding-top: 1.25rem;
        margin-right: .5rem;
    
        .title-sidebar {  
            padding-left: 1.8rem;
            color: $subtext-color;
            padding-bottom: .5rem;
            font-size: $fs;
        }
        .position {
            width: 19rem;
            padding-left: 2.5rem;
            display: flex;
            flex-wrap: wrap;
            padding-block: 0.7rem;
            gap: 2em;
            place-items: center;
            a {
                text-decoration: none;
            }
            .direction {   
                display: flex;
                gap: 10px;
                place-items: center;
                flex-direction: row;
            }
            .img-avatar {
                cursor: pointer;
                width: 25px;
                border-radius: 50%;
            }
            .text {
                cursor: pointer;
                color: $text-color;
                font-size: 12px;
            }
            
            .About{
                width: 14rem;
                color:$subtext-color;
                display: flex;
                flex-wrap: wrap;                        
                column-gap: 0.8rem;
                row-gap: 0.1rem;
            
            }
            .side-footer{
                color: $subtext-color
            }
                   
            &:hover {
                background-color: $bg-color-hover;    
            }
        }
                
    }
}
        
        