.main{
    position: relative;
    top: 5rem;
    padding-inline: 1rem;
    padding-block: 2rem;
    width: 7.5rem;
    background-color: $bg-nav-color;
    display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background-color: $bg-nav-color;
        justify-items: center;
        place-items: center;
    .text{
        margin-block-end: -.5rem ;
                letter-spacing: 0.1px;
                cursor: pointer;
                color: $subtext-color;
                font-size: 10px;
                font-weight: 10;
    }
    .text-special{
        margin-block-end: -.5rem ;
        letter-spacing: 0.1px;
        margin-inline: -1.2rem ;
        cursor: pointer;
        color: $subtext-color;
        font-size: 10px;
        font-weight: 10
    }
    &:hover {
        background-color: $bg-color-hover;    
    }
}
.Height{
    
    z-index: 9999;
    width: max-content;
    height: 100vh;
    background: $bg-nav-color;
    position: fixed;
    
}
.plus{
    
    width: 100%;
    position: absolute;
    display: flex;
  
    
    .plus-grid{
        
        
        position: relative;
        top: 10rem;
        // padding-inline: 7rem;
        padding-inline-start: 10rem;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
}