// .wrapper{
// position: relative;
//  display: flex;
//  flex-wrap: wrap;
// }

// .smallbar{
//     position: relative;
//     top: 5rem;
//     height: 2rem;
//     display: inline-flex;
//     flex-wrap: wrap;
//     height: max-content;
// }
.img-render{
    // display: grid;
    // margin: 0 auto;
    // margin-left: 3rem;
    // padding-right: 1rem ;
    margin-inline-end: 5%;

    margin-block:8%;
    width: 95%;
    // margin-inline:.73rem;
}