
.img-render{

    position: relative;
    margin-inline-start: 1rem;
    
    margin-block-start: 4rem;
    margin-block-end: 1rem;
    width: 95%;
    border: 1px solid salmon;
}
 
.title-mainpage{
    margin-inline-start: 15%;
    margin-inline-end: 10%;
    color:$text-color;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid salmon;
}   
.channel-mainpage{
    margin-block-start: .5rem;
    margin-inline-start: 15%;
    color:$subtext-color;
    font-size: $fs;
    border: 1px solid salmon;    
}
.viewsandyears-mainpage{
    border: 1px solid salmon;
    margin-inline-start: 15%;
    color: $subtext-color;
    font-size: $fs;
}

.test{
    border: 1px solid red;
    margin: 10rem;
}

