.videoPage{
    position: relative;
    z-index: -1;
    top:7rem;
    left: 2rem;
    padding-top: 37.25% ;
    width: 80%;
    
    
    
    
    
    
    .react-player{
        position: absolute;
        top: 0;
        left: 0px;
      
       
    }
}

.bside-main{
    display: flex;
    z-index: -2;
    .bside-videos{
        position: relative;
        z-index: 10213123;
        top: 7rem;
        // padding-inline: 2rem;
        margin-inline: 2rem;
        // width: max-content;
        height: max-content;
        border: 1px solid white;
        object-fit: cover;
    }
}






@media only screen and (max-width: 914px) {
    .videoPage{
        position: relative;
        padding-inline: 1rem;
      width: 95%;
      padding-top: 50.25% ;
      
    }
    .bside-main{
        position: relative;
        display: block;
    }




    
    .content-container{
        
        word-break: break-all;
        position: relative;
        border: 1px solid blueviolet;
        display: flex;
        width: 100%;
        margin-block: 2rem;
        
    }
    .content-container-img{
        object-fit: cover  ;
        margin-block: 1rem ;
        
        position: absolute;
        width: 150px;
        
        height: 83px;
        display: block;

    }    
    
    .content-container-title{
        color: $text-color;
        font-size: $fs;
        white-space: pre-wrap; 
        overflow:hidden;
        text-overflow: clip ellipsis;
       max-height:  2.6em;
    }
    .content-container-info{
        position: relative;
        
        
        border: 1px solid salmon;
        margin-block:1rem;
        padding-inline-start: 14rem;
        margin-inline-start: 2rem;
        word-break: break-all;
        width: max-content;
        height: 6vh;
       
        
    }
    
    .content-container-channel{
        color: $subtext-color;
        font-size: $fss;
        margin-block-start: 1rem;
    }
    .content-container-views_timestamp{
        color: $subtext-color;
        font-size: 11px;
    }

}


@media only screen and (min-width: 915px) and(max-width:1000px) {
    .videoPage{
        height: 10vh;
        position: relative;
        margin-inline-start:3%;
    }
}




      
    
@media only screen and  (min-width:1001px) {
    .videoPage{
        height: min-content;
        position: relative;
        padding-top: 34.25% ;
        margin-inline-start:8.5%;
    }
    .image{
        object-fit: cover  ;
        margin-block: 10px ;
        overflow: hidden;
        position: relative;
        width: 150px;
        
        height: 90px;
        display: block;
    }    
    .content-container{

        margin-inline: 2rem;
        position: relative;
        display: flex;
            
    }
    .content-container-img{
        object-fit: cover  ;
        margin-block: 1rem ;
        
        position: absolute;
        width: 150px;
        
        height: 83px;
        display: block;

    }    
    .content-container-info{
        position: relative;
        
        
        border: 1px solid salmon;
        margin-block:1rem;
        padding-inline-start: 14rem;
        margin-inline-start: 2rem;
        word-break: break-all;
        width: max-content;
        height: 6vh;
       
        
    }
    
}
