.videoPage{
    position: relative;
    z-index: -1;
    top:7rem;
    left: 2rem;
    padding-top: 37.25% ;
    width: 65%;

    
    
    
    
    
    .react-player{
        position: absolute;
        top: 0;
        left: 0px;
      
       
    }
}










@media only screen and (max-width: 914px) {
    .videoPage{
        position: relative;
        padding-inline: 1rem;
      width: 95%;
      padding-top: 50.25% ;
      display: flex;
      max-height: 37%;
      
    }
}
@media only screen and  (min-width:1300px) {
    .videoPage{
        
        position: relative;
        margin-inline:10%;
        
        
    }
}
