.videoPage{
    position: relative;
    z-index: -1;
    top:7rem;
    left: 2rem;
    padding-top: 37.25% ;
    width: 61%;
    
    
    
    
    
    
    .react-player{
        position: absolute;
        top: 0;
        left: 0px;
      
       
    }
}

.bside-main{
    display: flex;
    z-index: -2;
    .bside-videos{
        position: relative;
        z-index: 10213123;
        top: 7rem;
        // padding-inline: 2rem;
        margin-inline: 2rem;
        // width: max-content;
        height: max-content;
        border: 1px solid white;
        object-fit: cover;
    }
}






@media only screen and (max-width: 914px) {
    .videoPage{
        position: relative;
        padding-inline: 1rem;
      width: 95%;
      padding-top: 50.25% ;
    }
    .bside-main{
        position: relative;
        display: block;
    }
    .image{
        object-fit: cover  ;
        margin-block: 10px ;
        
        position: relative;
        width: 150px;
        
        height: 83px;
        display: block;

    }    
    .content-info{
        display: flex;
    }
        
      
    
}
@media only screen and  (min-width:1300px) {
    .videoPage{
        height: 10vh;
        position: relative;
        margin-inline:10%;
    }
    .image{
        object-fit: cover  ;
        margin-block: 10px ;
        overflow: hidden;
        position: relative;
        width: 150px;
        
        height: 90px;
        display: block;

    }    

}
