$bg-color: #181818;
$bg-nav-color: #202020;
$bg-color-active: #ffffff1a;
$bg-color-not-active: #303030;
$bg-color-hover: #383838;
$text-color: #f5f5f5fd;
$subtext-color: #AAAAAA;
$fs: 13px;
$icon-size: 2.5rem;