.buttons {
    padding-right: 1rem;
    color: $text-color;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    * {
        margin: 0 1rem;
    }

    button {
        padding: .5rem;
    }
}
