.logo-menu {
    display: flex;
    align-items: center;

    .logo-container{
        width: 100%;
        padding: 1.5rem;
        @include center;

        img {
            width: 9rem;
            height: auto;
        }
    }
}