.logo-menu {
    display: flex;
    align-items: center;

    .menu-icon {
        padding: 1rem;
        color: $text-color;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo-container{
        width: 100%;
        padding: 1.5rem;
        display: flex;
        align-items: center;

        img {
            width: 9rem;
            height: auto;
        }
    }
}