@import './abstracts/_abstracts-dir';
@import './navigationBar/_navBar-dir';
@import './sidebar/_sidebar.dir';
@import './bodyPage/_bodyPage-dir';
@import url("https://use.typekit.net/nuo3ymp.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// 1rem = 10px
:root {
    font-size: 62.5%;
}

body {
    background-color: $bg-color;
    font-family: roboto, sans-serif;
}

